In [1]:
import pandas as pd
import os
import sqlite3

In [15]:
dataset_folder = "Agriculture/"
db_data = "data.db"
conn = sqlite3.connect(db_data)

In [21]:
fetch_df = lambda table_name: pd.read_sql_query(f'SELECT * FROM {table_name}', conn)

In [37]:
dataset_table_names = []
i = 0
for dataset_file_name in sorted(os.listdir(dataset_folder)):
    table_name = dataset_file_name.split('.')[0]
    df = pd.read_stata(os.path.join(dataset_folder, dataset_file_name)).rename(columns = {"hhid16": "hhid"})
    i+=1
    print("Dataset #" + str(i), dataset_file_name,"with the length of", len(df), "is loaded into database. It was stored in a table named", table_name + ".")
    if df['hhid'].nunique() == len(df): print("Note: hhid in", table_name, 'is not unique.')
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    dataset_table_names.append(table_name);

Dataset #1 agr0.dta with the length of 2529 is loaded into database. It was stored in a table named agr0.
Note: hhid in agr0 is not unique.
Dataset #2 agr1.dta with the length of 2529 is loaded into database. It was stored in a table named agr1.
Note: hhid in agr1 is not unique.
Dataset #3 agr10_1.dta with the length of 1044 is loaded into database. It was stored in a table named agr10_1.
Dataset #4 agr10_1a.dta with the length of 1813 is loaded into database. It was stored in a table named agr10_1a.
Note: hhid in agr10_1a is not unique.
Dataset #5 agr10_3.dta with the length of 23569 is loaded into database. It was stored in a table named agr10_3.
Dataset #6 agr11.dta with the length of 1885 is loaded into database. It was stored in a table named agr11.
Note: hhid in agr11 is not unique.
Dataset #7 agr2_234.dta with the length of 3006 is loaded into database. It was stored in a table named agr2_234.
Dataset #8 agr2_5.dta with the length of 3855 is loaded into database. It was stored in a table named agr2_5.
Dataset #9 agr2_6.dta with the length of 896 is loaded into database. It was stored in a table named agr2_6.
Dataset #10 agr3.dta with the length of 2529 is loaded into database. It was stored in a table named agr3.
Note: hhid in agr3 is not unique.
Dataset #11 agr7_1a.dta with the length of 4007 is loaded into database. It was stored in a table named agr7_1a.
Dataset #12 agr7_1b.dta with the length of 2297 is loaded into database. It was stored in a table named agr7_1b.
Dataset #13 agr7_24.dta with the length of 1148 is loaded into database. It was stored in a table named agr7_24.
Note: hhid in agr7_24 is not unique.
Dataset #14 agr7_2_4b.dta with the length of 1148 is loaded into database. It was stored in a table named agr7_2_4b.
Note: hhid in agr7_2_4b is not unique.
Dataset #15 agr7_3.dta with the length of 2999 is loaded into database. It was stored in a table named agr7_3.
Dataset #16 agr7_4.dta with the length of 2379 is loaded into database. It was stored in a table named agr7_4.