In [1]:
import pandas as pd
import os
import sqlite3

In [2]:
dataset_folder = "Agriculture/"
db_data = "data.db"
db_table_name = "Record"
conn = sqlite3.connect(db_data)

In [3]:
raw_dataset_list = []
i = 0
for dataset_file_name in os.listdir(dataset_folder):
    df = pd.read_stata(os.path.join(dataset_folder, dataset_file_name))
    i+=1
    print("Dataset #" + str(i), dataset_file_name,"with the length of", len(df), "is loaded.")
    raw_dataset_list.append(df)

Dataset #1 agr10_1.dta with the length of 1044 is loaded.
Dataset #2 agr2_234.dta with the length of 3006 is loaded.
Dataset #3 agr7_4.dta with the length of 2379 is loaded.
Dataset #4 agr3.dta with the length of 2529 is loaded.
Dataset #5 agr7_24.dta with the length of 1148 is loaded.
Dataset #6 agr7_2_4b.dta with the length of 1148 is loaded.
Dataset #7 agr2_6.dta with the length of 896 is loaded.
Dataset #8 agr0.dta with the length of 2529 is loaded.
Dataset #9 agr7_3.dta with the length of 2999 is loaded.
Dataset #10 agr10_3.dta with the length of 23569 is loaded.
Dataset #11 agr1.dta with the length of 2529 is loaded.
Dataset #12 agr2_5.dta with the length of 3855 is loaded.
Dataset #13 agr10_1a.dta with the length of 1813 is loaded.
Dataset #14 agr11.dta with the length of 1885 is loaded.
Dataset #15 agr7_1b.dta with the length of 2297 is loaded.
Dataset #16 agr7_1a.dta with the length of 4007 is loaded.

In [11]:
raw_dataset_list[9] = raw_dataset_list[9].rename(columns = {"hhid16": "hhid"})
raw_dataset = raw_dataset_list[0]
for i in range(1, len(raw_dataset_list)):
    print(f"Processing dataset #{i}", end="")
    if "hhid" in raw_dataset_list[i].columns:
        if raw_dataset_list[i]['hhid'].isnull().any():
            print(f"Warning: 'hhid' column in dataset #{i} has null values.")
        raw_dataset = pd.merge(raw_dataset, raw_dataset_list[i], on='hhid', how='outer')
    else:
        print(i, "wasn't processed", raw_dataset_list[i].head())
    print(" - Done")

Processing dataset #1 - Done
Processing dataset #2 - Done
Processing dataset #3 - Done
Processing dataset #4 - Done
Processing dataset #5 - Done
Processing dataset #6 - Done
Processing dataset #7 - Done
Processing dataset #8 - Done
Processing dataset #9 - Done
Processing dataset #10 - Done
Processing dataset #11 - Done
Processing dataset #12 - Done
Processing dataset #13 - Done
Processing dataset #14 - Done
Processing dataset #15 - Done

In [5]:
raw_dataset.to_sql(db_table_name, conn, if_exists='replace', index=False)

8547

In [12]:
pd.read_sql_query("SELECT * from Record LIMIT 100;",conn)

,hhid,srcode,sr01,sr02,asr02,sr03,asr03,sr04,field_x,f01,...,ls04,ls05,ls05b,ls06,ls06b,ls07,ls08,ls10,ls11,ls12
0,2001,None,None,None,None,None,None,NaN,NaN,None,...,0.0,NaN,0.0,0.0,None,0.0,0.0,0.0,2.0,15000.0
1,2001,None,None,None,None,None,None,NaN,NaN,None,...,1.0,40000.0,0.0,0.0,None,0.0,0.0,0.0,3.0,50000.0
2,2001,None,None,None,None,None,None,NaN,NaN,None,...,0.0,NaN,0.0,0.0,None,0.0,0.0,0.0,2.0,15000.0
3,2001,None,None,None,None,None,None,NaN,NaN,None,...,1.0,40000.0,0.0,0.0,None,0.0,0.0,0.0,3.0,50000.0
4,2001,None,None,None,None,None,None,NaN,NaN,None,...,0.0,NaN,0.0,0.0,None,0.0,0.0,0.0,2.0,15000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2007,rotating cereals with legumes/nitrogen-fixing ...,yes,fellow farmers,,informal conversation,,1995.0,1.0,kitchen garden,...,0.0,NaN,0.0,0.0,None,0.0,2.0,0.0,8.0,5000.0
96,2007,applying animal manure?,yes,fellow farmers,,informal conversation,,1992.0,1.0,kitchen garden,...,0.0,NaN,0.0,0.0,None,0.0,2.0,0.0,8.0,5000.0
97,2007,applying animal manure?,yes,fellow farmers,,informal conversation,,1992.0,1.0,kitchen garden,...,0.0,NaN,0.0,0.0,None,0.0,2.0,0.0,8.0,5000.0
98,2007,applying animal manure?,yes,fellow farmers,,informal conversation,,1992.0,1.0,kitchen garden,...,0.0,NaN,0.0,0.0,None,0.0,2.0,0.0,8.0,5000.0
99,2007,applying animal manure?,yes,fellow farmers,,informal conversation,,1992.0,1.0,kitchen garden,...,0.0,NaN,0.0,0.0,None,0.0,2.0,0.0,8.0,5000.0